EXTERNAL_TOMCAT_PORT=8888

DATABASE_NAME=example
DATABASE_USER=example
DATABASE_PASSWORD=example
# DATABASE_POOL_SIZE=10
# DATABASE_PROTOCOL=jdbc:postgresql
# DATABASE_PORT=5432
DATABASE_SERVER=example
# DATABASE_CLASS_DRIVER=org.postgresql.Driver

EXTERNAL_DATABASE_PORT=5432