EXTERNAL_TOMCAT_PORT=8888

DATABASE_PROTOCOL=jdbc:postgresql
DATABASE_DRIVER=org.postgresql.Driver
DATABASE_NAME=example
DATABASE_USER=example
DATABASE_PASSWORD=example
DATABASE_SERVER=database
DATABASE_PORT=5432

EXTERNAL_DATABASE_PORT=8080